-
    var links = {
        "Мои работы" : "/projects",
        "Обо мне" : "/about",
        "Блог" : "/blog",
        "Авторизация" : "/",
    }

    var indexMenu = {
        "Мои работы" : "/projects",
        "Обо мне" : "/about",
        "Блог" : "/blog",
    }