.animate-0 {
    stroke-dasharray: .001 282.6;
  }
  
  .animate-10 {
    animation: animate10 .7s forwards;
  }
  
  @keyframes animate10 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 28.26 282.6;
    }
  }
  
  .animate-15 {
    animation: animate15 .7s forwards;
  }
  
  @keyframes animate15 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 42.39 282.6;
    }
  }
  
  .animate-20 {
    animation: animate20 .7s forwards;
  }
  
  @keyframes animate20 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 56.52 282.6;
    }
  }
  
  .animate-25 {
    animation: animate25 .7s forwards;
  }
  
  @keyframes animate25 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 70.65 282.6;
    }
  }
  
  .animate-30 {
    animation: animate30 .7s forwards;
  }
  
  @keyframes animate30 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 84.78 282.6;
    }
  }
  
  .animate-35 {
    animation: animate35 .7s forwards;
  }
  
  @keyframes animate35 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 98.91 282.6;
    }
  }
  
  .animate-40 {
    animation: animate40 .7s forwards;
  }
  
  @keyframes animate40 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 113.04 282.6;
    }
  }
  
  .animate-45 {
    animation: animate45 .7s forwards;
  }
  
  @keyframes animate45 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 127.17 282.6;
    }
  }
  
  .animate-50 {
    animation: animate50 .7s forwards;
  }
  
  @keyframes animate50 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 141.3 282.6;
    }
  }
  
  .animate-55 {
    animation: animate55 .7s forwards;
  }
  
  @keyframes animate55 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 155.43 282.6;
    }
  }
  
  .animate-60 {
    animation: animate60 .7s forwards;
  }
  
  @keyframes animate60 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 169.56 282.6;
    }
  }
  
  .animate-65 {
    animation: animate65 .7s forwards;
  }
  
  @keyframes animate65 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 183.69 282.6;
    }
  }
  
  .animate-70 {
    animation: animate70 .7s forwards;
  }
  
  @keyframes animate70 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 197.82 282.6;
    }
  }
  
  .animate-75 {
    animation: animate75 .7s forwards;
  }
  
  @keyframes animate75 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 211.95 282.6;
    }
  }
  
  .animate-80 {
    animation: animate80 .7s forwards;
  }
  
  @keyframes animate80 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 226.08 282.6;
    }
  }
  
  .animate-85 {
    animation: animate85 .7s forwards;
  }
  
  @keyframes animate85 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 240.21 282.6;
    }
  }
  
  .animate-90 {
    animation: animate90 .7s forwards;
  }
  
  @keyframes animate90 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 254.34 282.6;
    }
  }
  
  .animate-95 {
    animation: animate95 .7s forwards;
  }
  
  @keyframes animate95 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 268.47 282.6;
    }
  }
  
  .animate-100 {
    animation: animate100 .7s forwards;
  }
  
  @keyframes animate100 {
    0%{
      stroke-dasharray: .0010 282.6;
    }
    100%{
      stroke-dasharray: 282.6 282.6;
    }
  }