.portfolio-capt {
    background-color: #faf8f0;
  }
  
.portfolio-capt {
    position: relative;
    padding-bottom: rem(35px);
    display: flex;
    justify-content: center;

    @include phones {
      padding-bottom: 0;
      height: rem(95px);
    }
}
  
  .portfolio-capt__svg {
    fill: rgba(0,0,0, .07);
    max-height: rem(180px);
    max-width: rem(500px);
    width: 100%;
    @include phones() {
      position: relative;
      bottom: rem(15px);
      max-width: rem(260px);
    }
  }
  
  .portfolio-capt__text {
    position: absolute;
    top: 30%;
    font-family: "Bernier";
    font-size: rem(63px);
    display: block;
    color: #373e42;
    &:before {
      content: "";
      position: absolute;
      top: 44%;
      left: rem(-45px);
      display: block;
      width: rem(22px);
      height: rem(5px);
      background-color: rgba(0,0,0, .2);
    }
    &:after {
      @extend .portfolio-capt__text:before;
      left: initial;
      right: rem(-45px);
    }
    @include phones() {
      font-size: rem(35px);
      top: 22%;
      left: rem(80px);
    }
  }
  
  .portfolio-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: #fff;

    @include desktopW {
      height: 100vh;
    }
    @include tablets() {
      flex-direction: column;
      height: inherit;
    }
    @include phones() {
      height: 100%;
    }
  }

  .portfolio-slider__text {
    width: 50%;
    height: 100%;
    background-color: #f0efe9;
    @include tablets() {
      order: 1;
      width: 100%;
      padding: rem(40px) rem(4px) rem(60px) rem(4px);
    }
  }
  
  .portfolio-slider__text-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .portfolio-slider__text-item {
    display: none;
    text-align: center;
    &:first-child {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .portfolio-slider__text-capt {
    max-width: rem(300px);
    margin-bottom: rem(38px);
    text-align: center;

    @include vertical() {
      max-width: rem(220px);
    }
  }
  
  .portfolio-slider__text-tech {
    margin-bottom: rem(40px);
    padding: rem(18px) rem(100px);
    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: rem(16px);
    text-transform: uppercase;
    color: #20b5a1;
    border: 1px solid #00bfa5;
    border-left: none;
    border-right: none;
    text-align: center;
  }
  
  .portfolio-text__but {
    position: relative;
    display: inline-block;
    padding: rem(13px) rem(18px) rem(13px) rem(48px);
    background-color: #00bfa5;
    border-radius: rem(5px);
    font-family: "Roboto-Regular";
    font-weight: 500;
    font-size: rem(16px);
    color: #fff;
  }
  
  .portfolio-slider__text-svg {
    position: absolute;
    top: 10px;
    left: 13px;
    width: rem(20px);
    height: rem(20px);
    fill: #fff;
  }

  .portfolio-slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    background-color: #efebe0;
    @include tablets() {
      width: 100%;
      flex-wrap: nowrap;
    }
  }
  
  .portfolio-slider__head {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    @include tablets() {
      order: 0;
      width: 100%;
      height: rem(450px);
      display: block;
      margin: 0 auto;
    }
  }
  
  .portfolio-slider__head-box {
    padding: rem(30px);
    max-height: 100%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .portfolio-slider__head-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
  
  .portfolio-slider__slides {
    display: flex;
    width: 50%;
    height: 30%;
    @include tablets() {
      order: 2;
      width: 100%;
    }
  }
  
  .slide-left {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;

    @include tablets() {
      max-height: rem(225px);
    }
    @include phones() {
      max-height: rem(150px);
    }
    @include vertical() {
      max-height: rem(120px);
    }
  }
  
  .slide-left__nav {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: 1s;
    &:hover {
      background-color: rgba(0,0,0,0.2);
      transition: 1s;
    }
    &:hover .slide-left__svg {
      fill: rgba(255,255,255,1);
    }
  }
  
  .slide-left__svg {
    width: rem(25px);
    height: rem(25px);
    fill: rgba(255,255,255, .5);
  }
  
  .slide-left__list {
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
  }
  
  .slide-left__item {
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    @include tablets() {
      height: rem(225px);
    }
  }
  
  .slide-left__img {
    width: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
  
  .slide-right {
    @extend  .slide-left;
    &__item {
      @extend  .slide-left__item;
    }
    &__img {
      @extend  .slide-left__img;
    }
    &__list {
      @extend .slide-left__list;
      flex-direction: column-reverse;
    }
    &__nav {
      @extend .slide-left__nav;
    }
    &__svg {
      @extend .slide-left__svg;
    }
  }
  
  