footer.footer
    .footer-top
        .foot-nav
            ul.foot-nav__list
                li.foot-nav__item
                    a.foot-nav__link(href="#") Мои работы
                li.foot-nav__item
                    a.foot-nav__link(href="#") Обо мне
                li.foot-nav__item
                    a.foot-nav__link(href="#") Блог
                li.foot-nav__item
                    a.foot-nav__link(href="#") Авторизация
        .foot-soc
            ul.foot-soc__list
                +footSocials("img/svg/sprite.min.svg#vk_round", "https://vk.com")
                +footSocials("img/svg/sprite.min.svg#github_round", "https://github.com/iamcoderUA")
                +footSocials("img/svg/sprite.min.svg#in_round", "https://github.com/iamcoderUA")
    .footer-bottom
        .foot-info Я веб-разработчик из г. Запорожья, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .foot-copyrite © Станислав Михнев | создано с любовью | 2017