.title-main {
    font-family: "Roboto-Medium";
    font-size: 21px;
    color: #455a64;
    margin-bottom: 35px;
}

.title-block {
    font-family: "Roboto-Medium";
    font-size: 16px;
    color: #455a64;
}

.form-title {
    margin-bottom: 20px;
}

.save-btn {
    display: inline-flex;
    font-family: "Roboto-Medium";
    font-size: 16px;
    color: #fff;
    padding: 10px 15px;
    background-color: #00bfa5;
    border: 0;
    border-radius: 5px;
    transition: .3s;
    margin-right: 20px;
    &:hover {
        background-color: #009688;
        transition: .3s;
    }
}

.reset-btn {
    @extend .save-btn;
    color: #455a64;
    background-color: #f0efe9;
    margin-right: 0px;    
    &:hover {
        background-color: #455a64;
        color: #fff;   
        transition: .3s;
    }
    
}

.form-row {
    display: flex;
    margin-bottom: 20px;
}

.input-block {
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}