.content {
    width: 100%;
    height: 100%;
    top: rem(600px);
}

.about {
    position: relative;
    display: flex;
    z-index: 50;
}

.about-left {
    width: 50%;
    background-color: #efeee9;
}

.about-right {
    width: 50%;
    background-color: #eeebdf;
}

.right-svg {
    position: absolute;
    display: block;
    bottom: 100%;
    width: 50%;
}

.left-svg {
    @extend .right-svg;
    fill: rgba(109, 112, 123, .1);    
    transform: scaleX(-1);
}

.left-caption {
    position: absolute;
    left: rem(180px);
    top: -6%;
    z-index: 100;
}

.left-caption__svg {
    fill: rgba(109, 112, 112, .07);
}

.left-info, .right-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding-bottom: 6%;
}

.left-info__description {
    margin-bottom: rem(35px);    
}

.left-info__photo {
    width: rem(446px);
    height: rem(391px);
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: rem(28px);
}

.left-info__caption {
    position: relative;
    font-family: "Bernier";    
    font-size: rem(35px);
    color: #455a64;  
    margin-bottom: rem(25px);

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 45%;
        left: rem(-50px);
        width: rem(22px);
        height: rem(5px);
        background-color: rgba(0, 0, 0, 0.2)
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 45%;
        right: rem(-50px);
        width: rem(22px);
        height: rem(5px);
        background-color: rgba(0, 0, 0, 0.2)
    } 
}

.left-info__text  {
    color: #455a64;
    padding: 0 12% 0 12%;
}

.left-info__text p {
    font-size: rem(16px);
    line-height: rem(24px);
    margin-bottom: rem(10px);
    &:last-child {
        margin-bottom: 0;
    }
}

.right-info__description {
    display: inline-block;    
    position: relative;
    font-family: "Bernier";    
    font-size: rem(35px);
    color: #455a64;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: rem(17px);
    max-width: 18rem;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 20%;
        left: rem(-15px);
        width: rem(22px);
        height: rem(5px);
        background-color: rgba(0, 0, 0, 0.2)
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 20%;
        right: rem(-15px);
        width: rem(22px);
        height: rem(5px);
        background-color: rgba(0, 0, 0, 0.2)
    } 
}

.right-info__text {
    padding: 0 2% 0 6%;
    margin-bottom: 8%;
}

.right-info__text p {
    color: #455a64;
}

.right-info__content {
    width: 100%;
    padding: 0 2% 0 6%;
    
}

.skills-row__title {
    font-family: "Roboto-Medium";
    font-size: rem(28px);
    margin-bottom: rem(10px);
    color: #455a64;      
}

.skills-row__list {
    margin-left: rem(-25px);    
}

.skill {
    position: relative;
    display: inline-block;
    width: rem(115px);
    height: rem(115px);
    margin-left: rem(25px);
    &:first-child {
        margin-left: 0;
    }
}

.skill__circle {
    fill: none;
    stroke-width: 20;
}


.skill__circle-first {
    stroke: #dfdcd5;
}

.skill__circle-second {
    stroke: #1bb696;
    stroke-dasharray: .0010 282.6;
    transition: all 1s;
}

.skill__title {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: rem(14px);
    color: #1bb696;
    text-align: center;    
}

.skills-row {
    margin-bottom: rem(23px);
}

.google-map {
    position: relative;
}

#map {
    width: 100vw;
    height: rem(990px);
}

.map-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: rem(25px) rem(25px);
    background-color: rgba(229, 247, 244,.85);
    z-index: 200;
}

.map-info {
    display: flex;
    flex-direction: column;
}

.map-title {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: "Bernier";    
    font-size: rem(35px);
    color: #373e42;
    margin-bottom: rem(20px);

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 45%;
        left: 20%;
        width: rem(22px);
        height: rem(5px);
        background-color: rgba(0, 0, 0, 0.2)
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 45%;
        right: 20%;
        width: rem(22px);
        height: rem(5px);
        background-color: rgba(0, 0, 0, 0.2)
    } 
}
    
.map-list__item {
    display: flex;
    margin-bottom: rem(20px);
}

.map-list__link {
    display: flex;
}

.map-list__icon {
    width: rem(25px);
    height: rem(25px);
    fill: $greenL;
    margin-right: rem(20px);

    &:hover {
        fill: $greenD;
    }
}

.map-list__text {
    font-family: "Roboto-Medium";
    color: rgba(69, 90, 100, .8);
    font-size: rem(15px);

}
