.works {
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #faf8f0;
}

.works-title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: rem(50px);
    margin-bottom: rem(43px);
    position: relative;
}

.works-title__image {
    width: rem(400px);
    height: rem(300px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.title-svg {
    width: 100%;
    height: 100%;
    fill: rgba(109, 112, 112, .07);
}

.feed-wrapper {
    width: 100%;
    min-width: rem(300px);
    height: 100%;
    background: url(../img/bg/bg_projects.png) center no-repeat;
    background-size: cover;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(50px);   
    padding-bottom: 20%;
    position: relative;
}

.feed-title {
    display: inline-block;
    max-width: rem(400px);
    text-align: center;
    line-height: rem(64px);
    margin-bottom: rem(50px);
    position: relative;
}

.feed-title__image {
    width: rem(400px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.feed-info__list {
    max-width: 63%;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(50px);
}

.feed-info__item {
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }
}
.feed-info__icon {
    width: rem(30px);
    height: rem(30px);
    margin-bottom: rem(20px);
}

.feed-info__text {
    font-family: "Roboto-Medium";
    color: #455a64;
    margin-bottom: rem(20px);
}

.feed-info__description {
    display: flex;
    align-items: center;
}

.feed-info__photo {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;    
    margin-right: rem(20px);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.feed-info__person {
    color: $greenL;
}

.feed-info__name {
    font-family: "Roboto-Medium";
}

// Feed Form

.feed-form {
    position: relative;
    width: rem(380px);
    height: rem(437px);
    margin-bottom: 5%;
}

.feed-form__blur {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: rem(5px);
    overflow: hidden;
}

.feed-form__bg {
    background: url(../img/bg/bg_projects.png) center no-repeat;
    // background-size: 1200px;
    top: 0;
    z-index: -1;
    filter: blur(2.5px);
    width: 100%;
    height: 100%;
}

.feed-form__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    border-radius: rem(10px);
}

.feed-form__capt {
    position: relative;
    font-family: "Bernier";
    font-size: rem(35px);
    color: #455a64;
    text-align: center;
    margin-top: rem(20px);    
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: rem(25px);
        width: rem(22px);
        height: rem(5px);
        background-color: rgba(0, 0, 0, 0.2)
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: rem(25px);
        width: rem(22px);
        height: rem(5px);
        background-color: rgba(0, 0, 0, 0.2)
    }
}

.form {
    font-family: "Roboto-Light";
    color: #455a64;
}

.form-row {
    width: 100%;
    padding: 0 rem(20px);    
    margin-top: rem(20px);

    &:first-child {
        margin-top: rem(25px);    
    }
}

.form-row__input {
    padding: rem(15px) 19px;
    width: 100%;
    height: rem(45px);
    outline: none;
    border: none;
    border-radius: rem(5px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-row__textarea {
    width: 100%;
    height: rem(150px);
    border: none;
    outline: none;
    resize: none;
    padding: rem(8px) rem(15px) rem(80px) rem(15px);    
    border-radius: 5px;
}

.form-but {
    display: flex;
    width: 100%;
    margin-top: rem(40px);
    text-align: center;    
}

.form-row__homelink {
    width: 50%;
    padding: rem(13px) 0;
    font-family: "Roboto-Regular";
    color: #fff;
    border: none;
    cursor: pointer;    
    background-color: $greenL;
    border-right: rem(1px) solid #fff;
    border-bottom-left-radius: rem(5px);    
    transition: background-color 0.3s;   

    &:hover {
        background-color: $greenD;
        transition: background-color 0.3s;  
    }
}

.form-row__submit {
    @extend .welcome-auth__homelink;    
    border-right: rem(1px) solid transparent; 
    border-bottom-left-radius: rem(0px);        
    border-bottom-right-radius: rem(5px); 
}

.back-arrow {
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
    bottom: 15%;
    transition: .3s;    
    &:hover {
        transform: scale(1.3) rotate(180deg);
        transition: .3s;
    }
}