extends ../template

block content
    .wrapper
        include ../modules/fixed-menu
        header.header
            +header("img/svg/sprite.min.svg#portfolio_header", "Станислав Михнев", "Личный сайт Front-end разработчика")
        main.content
            section.about#up
                svg.left-svg(viewbox="0 0 1000 175" preserveAspectRatio="none")
                    polygon(points="0,175 1000,175 1000,0")
                svg.right-svg(viewbox="0 0 1000 175" preserveAspectRatio="none")
                    polygon(points="0,175 1000,175 1000,0")
                .about-records
                    .records-info
                        h1.records-info__caption
                            .title-main Обо мне
                            .records-caption
                                svg.records-caption__svg
                                    use(xlink:href="img/svg/sprite.min.svg#about_header")
                        .records-info__description
                            .records-info__photo(style="background-image: url(img/content/ava_about.jpg);")
                            h2.records-info__caption
                                .title-block Кто я
                            .records-info__text
                                p Я веб разработчик из г. Запорожья. Мне 29 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                .about-skills
                    .skills-info
                        h2.skills-info__description Чем я могу быть вам полезен
                        .skills-info__text
                            p Больше всего меня привлекает Front-end разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                        .skills-info__content
                            ul.skills-list
                                li.skills-list__item
                                li.skills-list__item
                                li.skills-list__item
            section.google-map
                #map
                .map-container
                    .map-info
                        h2.map-title
                            .title-block Контакты
                        ul.map-list
                            +map-list("img/svg/sprite.min.svg#skype", 'skype:stanislav-mikhnev', 'stanislav-mikhnev')       
                            +map-list("img/svg/sprite.min.svg#envelope", 'mailto:stanislav.mikhniev@gmail.com', 'stanislav.mikhniev@gmail.com')        
                            +map-list("img/svg/sprite.min.svg#phone", 'tel:380990422243', '+38 099 042 22 43') 
                            +map-list("img/svg/sprite.min.svg#map_marker", 'https://www.google.ru/maps/place/%D0%93%D0%B2%D0%B0%D1%80%D0%B4%D1%96%D0%B9%D1%81%D1%8C%D0%BA%D0%B8%D0%B9+%D0%B1%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80,+22,+%D0%97%D0%B0%D0%BF%D0%BE%D1%80%D1%96%D0%B6%D0%B6%D1%8F,+%D0%97%D0%B0%D0%BF%D0%BE%D1%80%D1%96%D0%B7%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C/@47.8440829,35.0933273,17.25z/data=!4m5!3m4!1s0x40dc612bde0acd7d:0x9dd41685c60a9ada!8m2!3d47.84464!4d35.0970819','Украина, г.Запорожье, бул.Шевченко, 11', '_blank')
        footer.footer.footer_position_absolute
            .footer-top
                nav.foot-nav
                    ul.foot-nav__list
                        each href, title in links
                            li.foot-nav__item
                                a.foot-nav__link(href=`${href}`)= title
                                    .foot-nav__link-box
                .foot-socials
                    ul.foot-soc__list
                        +footSocials("img/svg/sprite.min.svg#vk", "img/svg/sprite.min.svg#vk_round", "https://vk.com/id10661167", "30", "30", "10", "10")
                        +footSocials("img/svg/sprite.min.svg#github", "img/svg/sprite.min.svg#github_round", "https://github.com/iamcoderUA", "26", "26", "12", "12")
                        +footSocials("img/svg/sprite.min.svg#in", "img/svg/sprite.min.svg#in_round", "https://www.linkedin.com/in/stanislav-mikhniev/", "24", "24", "14", "10")
            .footer-bottom
                .foot-info &#171iamcoderUA&#187 Нелицензированное использование материалов данного сайта запрещено!
                .foot-copyright © Веб-разработчик Станислав Михнев | создано с любовью | 2017
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4f9n65-zMdyKKd9UWo00CLLGekxcE_Zs&callback=initMap")
    script(src='js/main.min.js')
