extends ../template
include ../mixins/mixins

block title 
    title Blog | Stanislav Mikhniev

block content
    .wrapper
        include ../modules/fixed-menu
        header.header
            .header-bg
                img.header-bg__pic(src="../../img/bg/bg_index.jpg", alt="")
            .socials
                ul.socials__list
                    +headerSocials("img/svg/sprite.min.svg#vk", "https://vk.com")
                    +headerSocials("img/svg/sprite.min.svg#github", "https://github.com/iamcoderUA")
                    +headerSocials("img/svg/sprite.min.svg#in", "https://github.com/iamcoderUA")
            .header-name
                svg.header-name__image
                    use(xlink:href="img/svg/sprite.min.svg#blog_header")
            .header-info
                .header-info__photo(style="background-image: url(img/content/ava_index.jpg);")
                .header-info__name.header_upper_case Блог
                .header-info__capt Статьи, которые я написал
            .next-arrow
                a.next-arrow__but(href="")
                    svg.next-arrow__svg
                        use(xlink:href="img/svg/sprite.min.svg#arrow_down")
        main.content
            section.blog
                svg.left-svg(viewbox="0 0 1000 175" preserveAspectRatio="none")
                    polygon(points="0,175 1000,175 1000,0" fill="#fff")
                svg.right-svg.right-svg_position(viewbox="0 0 1000 175" preserveAspectRatio="none")
                        polygon(points="0,175 1000,175 1000,0" fill="#fff")
                aside.blog-menu
                    ul.blog-menu__list
                        +blog-menu("Самое важное в SASS")
                        +blog-menu("Приёмы при вёрстке, без которых не обходится ни один сайт")
                        +blog-menu("Самый необходимый набор Gulp плагинов")
                        +blog-menu("Почему я выбрал Jade")
                .blog-info
                    ul.blog-info__list
                        +blog-info("Самое Важное в SASS", "17 сентября 2017", "Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.", "Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.")
                        +blog-info("Приёмы в вёрстке, без которых не обходится ни один сайт", "17 сентября 2017", "Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.", "Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.")
        include ../modules/footer
    script(src='js/blog.min.js')