extends ../template
include ../mixins/mixins

block title 
    title Blog | Stanislav Mikhniev

block content
    .wrapper
        .preloader
            svg.preloader__svg
                <circle class="preloader__svg-first" opacity="0.4" fill="none" stroke-width="4" stroke-miterlimit="10" enable-background="new" cx="72" cy="71.999" r="70"/>
                <circle class="preloader__svg-sec" opacity="0.7" fill="none" stroke-width="3.8938" stroke-miterlimit="10" enable-background="new" cx="72" cy="72" r="55"/>
                <circle class="preloader__svg-third" fill="none" stroke-width="4" stroke-miterlimit="10" cx="72" cy="72" r="40"/>
            span.preloader__text
        include ../modules/fixed-menu
        header.header
            +header("img/svg/sprite.min.svg#portfolio_header", "Блог", "Статьи, которые я написал", "header_upper_case")
        main.content
            section.blog#up
                svg.left-svg(viewbox="0 0 1000 175" preserveAspectRatio="none")
                    polygon(points="0,175 1000,175 1000,0" fill="#fff")
                svg.right-svg.right-svg_position(viewbox="0 0 1000 175" preserveAspectRatio="none")
                        polygon(points="0,175 1000,175 1000,0" fill="#fff")
                aside.blog-menu
                    a(href="").push-menu                      
                    nav.blog-nav
                        ul.blog-nav__list
                            +blog-nav("Самое важное в SASS")
                            +blog-nav("Приёмы при вёрстке, без которых не обходится ни один сайт")
                            +blog-nav("Самый необходимый набор Gulp плагинов")
                            +blog-nav("Почему я выбрал Jade")
                .blog-info
                    +blog-info("Facebook выпустил Yarn 1.0", "17 сентября 2017", "Спустя 11 месяцев после открытия кода Facebook представил первый стабильный релиз пакетного менеджера Yarn 1.0, предназначенного для управления зависимостями в проектах на языке JavaScript и вобравшего в себя опыт и лучшие идеи менеджеров зависимостей Bundler, Cargo и npm. Yarn позиционируется как замена npm, способная работать с репозиториями npm, но обеспечивающая более высокий уровень производительности, надёжности и безопасности. Основными причинами создания нового пакетного менеджера стала невозможность избавления npm от ряда проблем, а также этому способствовала его очень медленная работа и архитектурные проблемы с безопасностью. Основными возможностями Yarn являются: режим работы в offline, стойкость к проблемам в сети, наличие стабильного JavaScript API и так далее. Так что те, кто не пробовал еще использовать Yarn как альтернативу NPM - настоятельно рекомендую)")
                    +blog-info("А что на счёт наших с вами браузеров?", "17 октября 2017", "В Microsoft Edge появились новые возможности и несомненно улучшился дизайн. Так, изменился дизайн панели вкладок, адресной строки, улучшилась анимация кнопок. Появилась возможность чтения вслух с подсветкой слов и строк, т.е. можно  слушать текст с веб-сайтов и PDF-файлов вслух, щелкнув правой кнопкой мыши на выделенном фрагменте и выбрав «Читать вслух». В новой версии браузера Chrome (62) появились возможность делать скриншоты частей окна просмотра, отдельных узлов HTML, выделение сетки CSS, появился новый API-интерфейс консоли для запросов к объектам.")
                    +blog-info("Назад в будущее?", "7 октября 2017", "Cамая крутая новость для многих и для меня лично - запуск бионической линзы - импланта, который вернет зрение и дарует «сверхспособности». Многие разработчики страдают проблемами со зрением, так что я думаю эта новость найдет у многих отклик. Множество фантастических произведений рисуют нам картины будущего, в которых бионическими частями тела замеряют человеку настоящие. Канадская компания (Ocumetics Technology Corporation) в данный момент проводит клинические испытания устройства Bionic Lens, которое сможет заменить очки и контактные линзы. Причем при желании бионическую линзу можно заказать уже сейчас. Bionic Lens представляет собой подобие «динамической» линзы, устанавливаемой внутрь глаза, способной самостоятельно подстраиваться в случае изменения зрения человека. Но и это еще не все! Используя эти линзы человек сможет фокусировать зрение на небольших предметах (например, номере автомобиля) на расстоянии до 30 метров без напряжения для глаз. А если начать рассматривать собственный палец, то, по словам разработчиков, можно будет различить мельчайшие узоры, формирующие отпечатки пальцев. В будущем имплант можно будет модифицировать и, например, вывести изображение на экран внешнего устройства. ")
                    +blog-info("«ВКонтакте» анонсировала редизайн", "27 сентября 2017", "«ВКонтакте» планирует обновить дизайн своих мобильных приложений. Об этом говорится в блоге компании на «Хабрахабре», где опубликованы концепты будущего редизайна. Вместо бокового меню разработчики планируют сгруппировать основные вкладки соцсети в нижней части экрана. Будет использоваться пять вкладок: «Новости», «Поиск и рекомендации», «Сообщения», «Уведомления» и меню. Похожая механика использовалась в первых версиях приложений. В новой версии ленты новостей может появиться счётчик просмотров, который сейчас виден при переходе к публикации. Также «ВКонтакте» планирует обновить плеер. С помощью свайпов вправо и влево пользователь сможет переходить к плейлисту и тексту песни. Давно пора было. «ВКонтакте» не раскрывает, когда именно будут запущены новые приложения — в блоге говорится, что это произойдёт «совсем скоро».")
        footer.footer
            +footer
    script(src='js/main.min.js')