footer.footer
    .footer-top
        nav.foot-nav
            ul.foot-nav__list
                each href, title in links
                    li.foot-nav__item
                        a.foot-nav__link(href=`${href}`)= title
                            .foot-nav__link-box
        .foot-socials
            ul.foot-soc__list
                +footSocials("img/svg/sprite.min.svg#vk", "img/svg/sprite.min.svg#vk_round", "https://vk.com/id10661167", "30", "30", "10", "10")
                +footSocials("img/svg/sprite.min.svg#github", "img/svg/sprite.min.svg#github_round", "https://github.com/iamcoderUA", "26", "26", "12", "12")
                +footSocials("img/svg/sprite.min.svg#in", "img/svg/sprite.min.svg#in_round", "https://github.com/iamcoderUA", "24", "24", "14", "10")
    .footer-bottom
        .foot-info &#171iamcoderUA&#187 Нелицензированное использование материалов данного сайта запрещено!
        .foot-copyright © Веб-разработчик Станислав Михнев | создано с любовью | 2017