// colors
$greenL: #0cb29f;
$greenD:#098d85; 

// resolutions
$desktopBig: 1800px;
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$vertical: 320px;

@import "normalize";

// components
@import "components/media.scss";
@import "components/mixins.scss";


// layout
@import "layout/fonts.scss";
@import "layout/base.scss";
@import "layout/adjustment.scss";

// sections
@import "modules/header.scss";
@import "modules/footer.scss";
// sections
@import "pages/index.scss";
@import "pages/about.scss";
@import "pages/projects.scss";
@import "pages/blog.scss";



